.mobile-view {
    display: block;
}

.desktop-view {
    display: none !important;
}   

.swiper-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 666px;
}
h1.slider-title {
    margin-top: 2px;
    position: absolute;
    color: #FFFFFF;
    font-family: PFDinTextCompPro;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.08px;
    line-height: 27px;
    text-align: left;
    margin-left: 2%;
    width: 60%;
    text-transform: uppercase;
}
.judul-section {
    color: #0A0B09;
    font-family: PFDinTextCompPro;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 48px;
    text-align: center;
}
p.descript-ekositem {
    color: #B7B7B7;
    font-family: PFDinTextCompPro-Medium;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.04px;
    line-height: 25px;
    text-align: justify;
}
.thumnail-berita {
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.description.title-program {
    position: absolute;
    color: #FFFFFF;
    font-family: PFDinTextCompPro;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.05px;
    line-height: 10px;
    width: 100px;
    top: 16%;
    margin: 0% 21px;
    text-align: left;
}
.description.title-news {
    margin-top: 15px;
    color: #0A0B09;
    font-family: PFDinTextCompPro-Medium;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.03px;
    line-height: 26px;
    width: 100%;
    text-align: center;
}

/* ----------- iPhone 5 ----------- */
@media only screen
 
and (min-width: 320px) 

and (max-width: 374px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .slick-prev.slick-arrow {
        display: none !important;
    }

    .slick-next.slick-arrow {
        display: none !important;
    }
   
}


/* ----------- Android ----------- */
@media only screen
 
and (min-width: 360px) 

and (max-width: 479px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .slick-prev.slick-arrow {
        display: none !important;
    }

    .slick-next.slick-arrow {
        display: none !important;
    }
   
}

/* ----------- iPhone 6, 6S, 7, 8 and X ----------- */
 
@media only screen
 
and (min-width: 375px) 

and (max-width: 479px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .slick-prev.slick-arrow {
        display: none !important;
    }

    .slick-next.slick-arrow {
        display: none !important;
    }

}

/* ----------- Android Tablet ----------- */

/* Potrait */

@media only screen
 
and (min-width: 480px) 

and (max-width: 767px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .slick-prev.slick-arrow {
        display: none !important;
    }

    .slick-next.slick-arrow {
        display: none !important;
    }

}

/* Landscape */

@media only screen
 
and (min-width: 480px) 

and (max-width: 767px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: Landscape) {
    .slick-prev.slick-arrow {
        display: none !important;
    }

    .slick-next.slick-arrow {
        display: none !important;
    }

}

/* ----------- Ipad 3rd & 4th Generation, Air, Mini ----------- */
 
/* Portrait */

@media only screen
 
and (min-width: 768px) 

and (max-width: 1023px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .slick-prev.slick-arrow {
        display: none !important;
    }

    .slick-next.slick-arrow {
        display: none !important;
    }
    
}

/* Landscape */

@media only screen
 
and (min-width: 768px) 

and (max-width: 1023px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: Landscape) {
    .slick-prev.slick-arrow {
        display: none !important;
    }

    .slick-next.slick-arrow {
        display: none !important;
    }

}