.unduh-text {
    color: #0A0B09;
    font-family: PFDinTextCompPro;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 25px;
}

/* ----------- iPhone 5 ----------- */
@media only screen
 
and (min-width: 320px) 

and (max-width: 374px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .mobile-grid-view {
        display: none;
    }

    .col-auto.pr-lg-0 {
        margin-top: 5%;
    }

    section.half-section {
        padding-top: 85px;
        padding-bottom: 0px;
    }

    .short-desc {
        padding: 0 12%;
    }

    .icon-desc {
        font-size: 30px;
    }

    .grid-post {
        padding: 0 9%;
        height: 100%;
    }

    .row-grid {
        position: inherit;
        width: 110%;
        height: 100%;
    }

    .grid1 {
        height: 25%;
        padding: 1%;
        position: inherit;
        top: 0%;
        left: 0%;
    }
    
    .grid2 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid3 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid4 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid5 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid6 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }

    .titlegrid5 {
        background-color: #000;
        height: auto;
        width: 100%;
        position: absolute;
        margin: 0;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        bottom: 0;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .titlegrid4 {
        background-color: 
        rgba(255, 255, 255, 0.0);
        bottom: 25%;
        height: auto;
        width: 90%;
        position: absolute;
        margin: 0;
        padding-left: 1.5%;
        padding-right: 1.5%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    .col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn.btn-dark-gray.btn-small.text-extra-small.border-radius-4.margin-20px-top.bergabung-1 {
        margin-right: 20px;
    }

    section {
        padding: 25px 0;
        overflow: hidden;
    }

    .sm-padding-15px-left {
        margin-top: 0px !important;
    }

    .sejak-tahun {
        width: 100%;
    }

    .yang-muda {
        width: 100%;
    }

    .md-padding-15px-all {
        padding: 10px !important;
    }
}


/* ----------- Android ----------- */
@media only screen
 
and (min-width: 360px) 

and (max-width: 479px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .mobile-grid-view {
        display: none;
    }

    .mobile-about {
        display: block;
    }

    .desktop-about {
        display: none;
    }

    .col-auto.pr-lg-0 {
        margin-top: 3%;
    }

    section.half-section {
        padding-top: 85px;
        padding-bottom: 0px;
    }

    .short-desc {
        padding: 0 12%;
    }

    .icon-desc {
        font-size: 30px;
    }

    .grid-post {
        padding: 0 9%;
        height: 100%;
    }

    .row-grid {
        position: inherit;
        width: 110%;
        height: 100%;
    }

    .grid1 {
        height: 25%;
        padding: 1%;
        position: inherit;
        top: 0%;
        left: 0%;
    }
    
    .grid2 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid3 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid4 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid5 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid6 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }

    .titlegrid5 {
        background-color: #000;
        height: auto;
        width: 100%;
        position: absolute;
        margin: 0;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        bottom: 0;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .titlegrid4 {
        background-color: 
        rgba(255, 255, 255, 0.0);
        bottom: 40%;
        height: auto;
        width: 90%;
        position: absolute;
        margin: 0;
        padding-left: 1.5%;
        padding-right: 1.5%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    .col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn.btn-dark-gray.btn-small.text-extra-small.border-radius-4.margin-20px-top.bergabung-1 {
        margin-right: 20px;
    }

    section {
        padding: 25px 0;
        overflow: hidden;
    }

    .sm-padding-15px-left {
        margin-top: -30px;
    }
}

/* ----------- iPhone 6, 6S, 7, 8 and X ----------- */
 
@media only screen
 
and (min-width: 375px) 

and (max-width: 479px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .mobile-grid-view {
        display: none;
    }

    .mobile-about {
        display: block;
    }

    .desktop-about {
        display: none;
    }

    .col-auto.pr-lg-0 {
        margin-top: 5%;
    }

    section.half-section {
        padding-top: 85px;
        padding-bottom: 0px;
    }

    .short-desc {
        padding: 0 12%;
    }

    .icon-desc {
        font-size: 30px;
    }

    .grid-post {
        padding: 0 9%;
        height: 100%;
    }

    .row-grid {
        position: inherit;
        width: 110%;
        height: 100%;
    }

    .grid1 {
        height: 25%;
        padding: 1%;
        position: inherit;
        top: 0%;
        left: 0%;
    }
    
    .grid2 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid3 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid4 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid5 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }
    
    .grid6 {
        height: 35%;
        padding: 1%;
        position: inherit;
    }

    .titlegrid5 {
        background-color: #000;
        height: auto;
        width: 100%;
        position: absolute;
        margin: 0;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        bottom: 0;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .titlegrid4 {
        background-color: 
        rgba(255, 255, 255, 0.0);
        bottom: 60%;
        height: auto;
        width: 90%;
        position: absolute;
        margin: 0;
        padding-left: 1.5%;
        padding-right: 1.5%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    .col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn.btn-dark-gray.btn-small.text-extra-small.border-radius-4.margin-20px-top.bergabung-1 {
        margin-right: 20px;
    }

    section {
        padding: 25px 0;
        overflow: hidden;
    }

    .sm-padding-15px-left {
        margin-top: 0px;
    }
}

/* ----------- Android Tablet ----------- */

/* Potrait */

@media only screen
 
and (min-width: 480px) 

and (max-width: 767px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .unduh-text {
        font-size: 21px;
    }

    .publikasi-img {
        width: 90%;
    }

    .icon-desc {
        font-size: 30px;
    }

    .mobile-grid-view {
        display: block;
        padding-bottom: 70%;
    }

    .desktop-grid-view {
        display: none;
    }

    .mobile-about {
        display: block;
    }

    .desktop-about {
        display: none;
    }

    .mobile-grid-view {
        display: block;
        position: inherit;
        margin: 15px;
        padding-bottom: 75%;
    }

    .icon-desc {
        letter-spacing: 0px !important;
    }

    .tablet-view1 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 0.5%;
    }

    .tablet-view2 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 0%;
        width: 50%;
    }

    .tablet-view3 {
        height: 60%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 50%;
        width: 50%;
    }

    .tablet-view4 {
        height: 53.5%;
        padding: 1%;
        position: absolute;
        top: 67.33%;
        left: 0%;
        width: 50%;
    }

    .tablet-view5 {
        height: 26.5%;
        padding: 1%;
        position: absolute;
        top: 94.33%;
        left: 50%;
        width: 50%;
    }

    .tablet-view6 {
        height: 24.33%;
        padding: 1%;
        position: absolute;
        top: 121%;
        left: 0%;
    }

    .titlegrid4{
        bottom: 60%;
    }

    .titlegrid5 {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Landscape */

@media only screen
 
and (min-width: 480px) 

and (max-width: 767px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: Landscape) {
    .unduh-text {
        font-size: 21;
    }

    .publikasi-img {
        width: 90%;
    }

    .icon-desc {
        font-size: 30px;
    }

    .mobile-grid-view {
        display: block;
        padding-bottom: 70%;
    }

    .desktop-grid-view {
        display: none;
    }

    .mobile-about {
        display: block;
    }

    .desktop-about {
        display: none;
    }

    .mobile-grid-view {
        display: block;
        position: inherit;
        margin: 15px;
        padding-bottom: 65%;
    }

    .icon-desc {
        letter-spacing: 0px !important;
    }

    .tablet-view1 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 0.5%;
    }

    .tablet-view2 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 0%;
        width: 50%;
    }

    .tablet-view3 {
        height: 60%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 50%;
        width: 50%;
    }

    .tablet-view4 {
        height: 59%;
        padding: 1%;
        position: absolute;
        top: 67.33%;
        left: 0%;
        width: 50%;
    }

    .tablet-view5 {
        height: 32.33%;
        padding: 1%;
        position: absolute;
        top: 94.33%;
        left: 50%;
        width: 50%;
    }

    .tablet-view6 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 126.5%;
        left: 0%;
    }

    .text-extra-dark-gray.font-weight-600.d-block.alt-font {
        height: 70px !important;
    }
}

/* ----------- Ipad 3rd & 4th Generation, Air, Mini ----------- */
 
/* Portrait */

@media only screen
 
and (min-width: 768px) 

and (max-width: 1023px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: portrait) {
    .unduh-text {
        font-size: 21;
    }

    .publikasi-img {
        width: 95%;
    }

    .mobile-grid-view {
        display: block;
        padding-bottom: 60%;
    }

    .desktop-grid-view {
        display: none;
    }

    .mobile-about {
        display: block;
    }

    .desktop-about {
        display: none;
    }

    .icon-desc {
        letter-spacing: 0px !important;
    }

    .tablet-view1 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 0.5%;
    }

    .tablet-view2 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 0%;
    }

    .tablet-view3 {
        height: 60%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 50%;
    }

    .tablet-view4 {
        height: 60%;
        padding: 1%;
        position: absolute;
        top: 67.33%;
        left: 0%;
    }

    .tablet-view5 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 94.33%;
        left: 50%;
    }

    .tablet-view6 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 127.5%;
        left: 0%;
    }

    .text-extra-dark-gray.font-weight-600.d-block.alt-font {
        height: 70px !important;
    }
}

/* Landscape */

@media only screen
 
and (min-width: 768px) 

and (max-width: 1023px)

and (-webkit-min-device-pixel-ratio: 1)
 
and (orientation: Landscape) {
    .unduh-text {
        font-size: 21;
    }
    
    .publikasi-img {
        width: 95%;
    }

    .mobile-grid-view {
        display: block;
    }

    .desktop-grid-view {
        display: none;
    }

    .mobile-about {
        display: block;
    }

    .desktop-about {
        display: none;
    }

    .mobile-grid-view {
        display: block;
        position: inherit;
        margin: 15px;
        padding-bottom: 50%;
    }

    .icon-desc {
        letter-spacing: 0px !important;
    }

    .tablet-view1 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 0.5%;
    }

    .tablet-view2 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 0%;
    }

    .tablet-view3 {
        height: 60%;
        padding: 1%;
        position: absolute;
        top: 34%;
        left: 50%;
    }

    .tablet-view4 {
        height: 60%;
        padding: 1%;
        position: absolute;
        top: 67.33%;
        left: 0%;
    }

    .tablet-view5 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 94.33%;
        left: 50%;
    }

    .tablet-view6 {
        height: 33.33%;
        padding: 1%;
        position: absolute;
        top: 127.5%;
        left: 0%;
    }

    .icon-desc {
        letter-spacing: 0px !important;
    }
}