section.wow.fadeIn.bg-light-gray {
    background: #fff;
}

.row.row-artikel1 {
    padding: 33px 16%;
}

section.wow.fadeIn.bg-light-gray {
    background: #fff;
}

.row.row-artikel1 {
    padding: 33px 6%;
}

.row.row-artikel1.v1 {
    padding: 33px 16%;
}

section.wow.fadeIn.bg-light-gray {
    padding-bottom: 1px;
}

.title-slide.whyforestisimport.artikel {
    position: absolute;
    top: 45%;
    color: #FFFFFF;
    font-family: PFDinTextCompPro-Regular;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.08px;
    line-height: 46px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.padding-20px-all {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.bg-white.text-center.h-100 img {
    width: 100%;
}

