.sejaktahun2014ke.tentangkamiv4.v2 {
    padding: 0 18%;
    line-height: 34px;
}

ul.list.misi {
    margin-top: 15px;
    padding: 0% 1.5%;
    padding-right: 0%;
    list-style-image: url(../img/point.png);
}

span.small-title {
    color: #0A0B09;
    font-weight: 800;
}

ul.sejaktahun2014ke.tentangkamiv4.v2.list {
    margin-top: 55px;
}