.tabs-nav {
  padding-top: 15%;
}
.tabs-list li {
  display: inline-block;
  line-height: 40px;
}
.tabs-list li:not(:first-child) {
  margin-left: 50px;
}

img {
  width: 100%;
}

ul.nav.nav-tabs.artikel {
  position: absolute;
  top: 48%;
  width: 100%;
  padding: 0% 15%;
  border: 1px solid 
  #fff;
}

a.nav-link.btn.btn-light.btn-bergabung.tab {
  border: 2px solid 
#3FA06B;
border-radius: 10px;
width: 123px;
height: 36px;
color:
  #0A0B09;
  font-family: PFDinTextCompPro;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04px;
  line-height: 19px;
  text-align: center;
}

a.nav-link.btn.btn-light.btn-bergabung.tab.active {
  background: 
#3FA06B;
color:
  #fff;
}