.box-layout {
    padding: 0px !important;
}

.container-fluid {
    width: 100%;
    margin-top: -40px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.swiper-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 666px;
}

.carousel-item.artikel {
    height: 390px;
}

.carousel-indicators li {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.title-slide.whyforestisimport.artikel {
    position: absolute;
    top: 47%;
    color: #FFFFFF;
    font-family: PFDinTextCompPro-Regular;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.08px;
    line-height: 46px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

span.carousel-control-prev-icon.v1 {
    opacity: 0;
}

span.carousel-control-next-icon.V1 {
    opacity: 0;
}

.row.row-artikel1 {
    padding: 90px 16%;
}

.description.timenews {
    color: #B7B7B7;
    font-family: PFDinTextCompPro;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03px;
    line-height: 17px;
    margin-top: 13px;
    text-align: left;
}

.description.title-news.v1 {
    color: #0A0B09;
    font-family: PFDinTextCompPro;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04px;
    line-height: 22px;
    width: 214px;
    text-align: left;
    padding: 5px 0;
    padding-bottom: 23px;
}

ul.nav.nav-tabs.artikel {
    position: absolute;
    top: 410px;
    width: 100%;
    padding: 0% 26%;
    border: 1px solid #fff;
}

a.nav-link.btn.btn-light.btn-bergabung.tab {
    border: 2px solid #3FA06B;
    border-radius: 10px;
    width: 147px;
    height: 36px;
    color: #0A0B09;
    font-family: PFDinTextCompPro;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04px;
    line-height: 19px;
    text-align: center;
}

li.nav-item {
    margin: auto;
}

a.nav-link.btn.btn-light.btn-bergabung.tab.active {
    background: #3FA06B;
    color: #fff;
}

a.page-link.description.pagination {
    color: #B7B7B7;
    font-family: PFDinTextCompPro;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.03px;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
    padding: 8px 12px;
}

.pagination {
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: fit-content;
    margin: auto;
}