@font-face {
    font-family: "open-sans-regular";
    src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "open-sans-bold";
    src: url('../../fonts/OpenSans-Bold.ttf') format('truetype');
}

@media (min-width:1024px) {
    .mobile-view {
        display: none;
    }
    .desktop-view {
        display: block;
    }
    .swiper-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 433px;
    }
    h1.slider-title {
        margin-top: -28px;
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 27px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 71px;
        text-align: left;
        margin-left: -40%;
        width: 75%;
        text-transform: uppercase;
    }
    .judul-section {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0.09px;
        line-height: 48px;
        text-align: center;
    }
    p.descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro-Medium;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 25px;
        text-align: justify;
    }
    .thumnail-berita {
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .description.title-program {
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 26px;
        width: 140px;
        top: 9%;
        margin: 0% 21px;
        text-align: left;
    }
    .description.title-news {
        margin-top: 10px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
}

@media (min-width:1200px) {
    .swiper-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 496px;
    }
    h1.slider-title {
        margin-top: -28px;
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 27px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 71px;
        text-align: left;
        margin-left: -40%;
        width: 75%;
        text-transform: uppercase;
    }
    .judul-section {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0.09px;
        line-height: 48px;
        text-align: center;
    }
    p.descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro-Medium;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 25px;
        text-align: justify;
    }
    .thumnail-berita {
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .description.title-program {
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 26px;
        width: 165px;
        top: 16%;
        margin: 0% 21px;
        text-align: left;
    }
    .description.title-news {
        margin-top: 10px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
}

@media (min-width:1280px) {
    .swiper-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 533px;
    }
    h1.slider-title {
        margin-top: -28px;
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 29px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 79px;
        text-align: left;
        margin-left: -40%;
        width: 80%;
        text-transform: uppercase;
    }
    .judul-section {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 0.09px;
        line-height: 48px;
        text-align: center;
    }
    p.descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro-Medium;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 25px;
        text-align: justify;
    }
    .thumnail-berita {
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .description.title-program {
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 26px;
        width: 169px;
        top: 16%;
        margin: 0% 21px;
        text-align: left;
    }
    .description.title-news {
        margin-top: 33px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
    .description.title-news {
        margin-top: 16px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
}

@media (min-width:1360px) {
    .swiper-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 563px;
    }
    h1.slider-title {
        margin-top: -28px;
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 33px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 80px;
        text-align: left;
        margin-left: -40%;
        width: 82%;
        text-transform: uppercase;
    }
    .judul-section {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 0.09px;
        line-height: 48px;
        text-align: center;
    }
    p.descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro-Medium;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 25px;
        text-align: justify;
    }
    .thumnail-berita {
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .description.title-program {
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 26px;
        width: 170px;
        top: 16%;
        margin: 0% 21px;
        text-align: left;
    }
    .description.title-news {
        margin-top: 33px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
    .description.title-news {
        margin-top: 6px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 23px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
}

@media (min-width:1440px) {
    .swiper-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 593px;
    }
    h1.slider-title {
        margin-top: -28px;
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 31px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 85px;
        text-align: left;
        margin-left: -40%;
        width: 75%;
        text-transform: uppercase;
    }
    .judul-section {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 38px;
        font-weight: 500;
        letter-spacing: 0.09px;
        line-height: 48px;
        text-align: center;
    }
    p.descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro-Medium;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 25px;
        text-align: justify;
    }
    .thumnail-berita {
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .description.title-program {
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 26px;
        width: 215px;
        top: 16%;
        margin: 0% 21px;
        text-align: left;
    }
    .description.title-news {
        margin-top: 33px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
    .description.title-news {
        margin-top: 8px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
}

@media (min-width:1600px) {
    .swiper-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 666px;
    }
    h1.slider-title {
        margin-top: -28px;
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 41px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 94px;
        text-align: left;
        margin-left: -40%;
        width: 90%;
        text-transform: uppercase;
    }
    .judul-section {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.09px;
        line-height: 48px;
        text-align: center;
    }
    p.descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro-Medium;
        font-size: 21px;
        font-weight: 400;
        letter-spacing: 0.04px;
        line-height: 25px;
        text-align: justify;
    }
    .thumnail-berita {
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .description.title-program {
        position: absolute;
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 26px;
        width: 215px;
        top: 16%;
        margin: 0% 21px;
        text-align: left;
    }
    .description.title-news {
        margin-top: 33px;
        color: #0A0B09;
        font-family: PFDinTextCompPro-Medium;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 26px;
        width: 100%;
        text-align: left;
    }
}

.swiper-container {
    height: 666px;
}

.thumnail-berita {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 11px;
}

.thumnail-berita img {
    transform: scale(1.2);
}

.thumnail-berita-ekosistem {
    height: 170px;
}

.thumnail-berita-tentangkami {
    height: 250px;
}

.thumnail-berita-tentangkami img {
    transform: scale(1);
}

.position-relative-margin-top-50 {
    position: relative !important;
    margin-top: 50px;
}

.slider-title {
    display: none;
}

p.descript-ekositem {
    color: #B7B7B7;
    font-family: open-sans-regular;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.04px;
    line-height: 25px;
    text-align: justify;
}

.bodytext {
    text-align: justify;
}

.panel-black {
    background: black;
    color: #fff;
}

.panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.panel .panel-body {
    padding: 40px;
}

.font30 {
    font-family: PFDinTextCompPro-medium;
    font-size: 30px;
    line-height: 1.2;
}

.logo-desc {
    width: 204px;
    height: fit-content;
}

.logo-desc img {
    margin-left: 60px;
}

.card {
    word-wrap: break-word;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.icon-desc {
    color: #0A0B09;
    font-family: PFDinTextCompPro;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.08px;
    line-height: 46px;
    text-align: center;
}

p.desc {
    width: 100%;
    padding: 0 10%;
}

.desc {
    color: #B7B7B7;
    font-family: open-sans-regular;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.04px;
    line-height: 22px;
    width: 70%;
    text-align: justify;
}

.feature-box .content {
    padding: 40px 100px;
}

.description.title-program {
    width: 150px;
}

.open-sans-body {
    font-family: open-sans-regular;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 1.04px;
    line-height: 25px;
}

.open-sans-title {
    font-family: open-sans-bold;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1.04px;
    line-height: 25px;
}

.thumnail-berita img {
    transform: scale(1.6);
}

.thumnail-berita {
    border-radius: 14px;
    height: 150px;
}