@media (min-width:1024px) {
    h1.text-white-2.alt-font.font-weight-600.letter-spacing-minus-1.margin-min90px-bottom {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        margin-top: 6px;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 41px;
        color: #FFF;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .mengapa-kehati {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 30px;
        text-align: center;
    }
    .descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    .width-100 {
        width: 96%;
    }
    .ada-padding-bottom {
        padding-bottom: 5% !important;
    }
    .div-publikasi {
        background-color: rgba(255, 255, 255, 0.0);
        overflow: hidden;
        width: 100%;
        margin: 0;
        margin-top: 0px;
        margin-top: 3px;
    }
    .bigtitle {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 22px;
        color: rgba(10, 11, 9, 1.0);
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .garis {
        background-color: rgba(63, 160, 107, 1.0);
        height: 2px;
        width: 88px;
        margin: auto;
        margin-top: -10px;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .ekosistempertanian {
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
    }
    .description {
        background-color: #fff;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 12%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 16.0px;
        color: #000;
        text-align: center;
        letter-spacing: 1.04px;
        line-height: 29.0px;
        padding-top: 17px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 17px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .row-investasi {
        margin-top: 26px;
    }
    .col-investasi {
        padding: 5% 4%;
    }
    .whyforestisimport {
        top: 35%;
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 45px;
        color: rgba(255, 255, 255, 1.0);
        text-align: left;
        letter-spacing: .08px;
        line-height: 77.0px;
    }
    .title-slide.whyforestisimport.artikel {
        text-align: center;
        width: 50%;
        left: 0;
        top: 10%;
        margin-left: 25%;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        margin: 0;
        padding: 0;
        position: initial;
        transform: scale(0.8);
        width: 100%;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 11px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .sejak-8 {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 18px;
        text-align: center;
    }
    .display-block {
        background-size: cover;
    }
    .cover-nvestasi {
        margin-top: 80px;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 23px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .no-repeat {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .artikel-img:hover img {
        transform: scale(1.1);
    }
}

@media (min-width:1200px) {
    h1.text-white-2.alt-font.font-weight-600.letter-spacing-minus-1.margin-min90px-bottom {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 37px;
        color: #FFF;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .mengapa-kehati {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 30px;
        text-align: center;
    }
    .descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    .width-100 {
        width: 96%;
    }
    .ada-padding-bottom {
        padding-bottom: 5% !important;
    }
    .div-publikasi {
        background-color: rgba(255, 255, 255, 0.0);
        overflow: hidden;
        width: 100%;
        margin: 0;
        margin-top: 0px;
        margin-top: 3px;
    }
    .bigtitle {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 23px;
        color: rgba(10, 11, 9, 1.0);
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .garis {
        background-color: rgba(63, 160, 107, 1.0);
        height: 2px;
        width: 88px;
        margin: auto;
        margin-top: -10px;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .ekosistempertanian {
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
    }
    .description {
        background-color: #fff;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 12%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 16.0px;
        color: #000;
        text-align: center;
        letter-spacing: 1.04px;
        line-height: 29.0px;
        padding-top: 17px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 17px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .row-investasi {
        margin-top: 26px;
    }
    .col-investasi {
        padding: 5% 4%;
    }
    .whyforestisimport {
        top: 35%;
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 45px;
        color: rgba(255, 255, 255, 1.0);
        text-align: left;
        letter-spacing: .08px;
        line-height: 77.0px;
    }
    .title-slide.whyforestisimport.artikel {
        text-align: center;
        width: 50%;
        left: 0;
        top: 10%;
        margin-left: 25%;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 38px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 13px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .sejak-8 {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 18px;
        text-align: center;
    }
    .display-block {
        background-size: cover;
    }
    .cover-nvestasi {
        margin-top: 80px;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 30px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .no-repeat {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .artikel-img:hover img {
        transform: scale(1.1);
    }
}

@media (min-width:1280px) {
    h1.text-white-2.alt-font.font-weight-600.letter-spacing-minus-1.margin-min90px-bottom {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 39px;
        color: #FFF;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .mengapa-kehati {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 30px;
        text-align: center;
    }
    .descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    .width-100 {
        width: 96%;
    }
    .ada-padding-bottom {
        padding-bottom: 5% !important;
    }
    .div-publikasi {
        background-color: rgba(255, 255, 255, 0.0);
        overflow: hidden;
        width: 100%;
        margin: 0;
        margin-top: 0px;
        margin-top: 3px;
    }
    .bigtitle {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 24px;
        color: rgba(10, 11, 9, 1.0);
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .garis {
        background-color: rgba(63, 160, 107, 1.0);
        height: 2px;
        width: 88px;
        margin: auto;
        margin-top: -10px;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .ekosistempertanian {
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
    }
    .description {
        background-color: #fff;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 12%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 16.0px;
        color: #000;
        text-align: center;
        letter-spacing: 1.04px;
        line-height: 29.0px;
        padding-top: 17px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 17px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .row-investasi {
        margin-top: 26px;
    }
    .col-investasi {
        padding: 5% 4%;
    }
    .whyforestisimport {
        top: 35%;
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 45px;
        color: rgba(255, 255, 255, 1.0);
        text-align: left;
        letter-spacing: .08px;
        line-height: 77.0px;
    }
    .title-slide.whyforestisimport.artikel {
        text-align: center;
        width: 50%;
        left: 0;
        top: 10%;
        margin-left: 25%;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 38px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 14px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .sejak-8 {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 18px;
        text-align: center;
    }
    .display-block {
        background-size: cover;
    }
    .cover-nvestasi {
        margin-top: 80px;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 32px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .no-repeat {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .artikel-img:hover img {
        transform: scale(1.1);
    }
}

@media (min-width:1360px) {
    h1.text-white-2.alt-font.font-weight-600.letter-spacing-minus-1.margin-min90px-bottom {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 42px;
        color: #FFF;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .mengapa-kehati {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 30px;
        text-align: center;
    }
    .descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    .width-100 {
        width: 96%;
    }
    .ada-padding-bottom {
        padding-bottom: 5% !important;
    }
    .div-publikasi {
        background-color: rgba(255, 255, 255, 0.0);
        overflow: hidden;
        width: 100%;
        margin: 0;
        margin-top: 0px;
        margin-top: 3px;
    }
    .bigtitle {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 26px;
        color: rgba(10, 11, 9, 1.0);
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .garis {
        background-color: rgba(63, 160, 107, 1.0);
        height: 2px;
        width: 88px;
        margin: auto;
        margin-top: -10px;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .ekosistempertanian {
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
    }
    .description {
        background-color: #fff;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 12%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 16.0px;
        color: #000;
        text-align: center;
        letter-spacing: 1.04px;
        line-height: 29.0px;
        padding-top: 17px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 17px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .row-investasi {
        margin-top: 26px;
    }
    .col-investasi {
        padding: 5% 4%;
    }
    .whyforestisimport {
        top: 35%;
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 45px;
        color: rgba(255, 255, 255, 1.0);
        text-align: left;
        letter-spacing: .08px;
        line-height: 77.0px;
    }
    .title-slide.whyforestisimport.artikel {
        text-align: center;
        width: 50%;
        left: 0;
        top: 10%;
        margin-left: 25%;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 38px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 15px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .sejak-8 {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 18px;
        text-align: center;
    }
    .display-block {
        background-size: cover;
    }
    .cover-nvestasi {
        margin-top: 80px;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 32px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .no-repeat {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .artikel-img:hover img {
        transform: scale(1.1);
    }
}

@media (min-width:1440px) {
    h1.text-white-2.alt-font.font-weight-600.letter-spacing-minus-1.margin-min90px-bottom {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 48px;
        color: #FFF;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .mengapa-kehati {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 30px;
        text-align: center;
    }
    .descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    .width-100 {
        width: 96%;
    }
    .ada-padding-bottom {
        padding-bottom: 5% !important;
    }
    .div-publikasi {
        background-color: rgba(255, 255, 255, 0.0);
        overflow: hidden;
        width: 100%;
        margin: 0;
        margin-top: 0px;
        margin-top: 3px;
    }
    .bigtitle {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 26px;
        color: rgba(10, 11, 9, 1.0);
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .garis {
        background-color: rgba(63, 160, 107, 1.0);
        height: 2px;
        width: 88px;
        margin: auto;
        margin-top: -10px;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .ekosistempertanian {
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
    }
    .description {
        background-color: #fff;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 12%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 16.0px;
        color: #000;
        text-align: center;
        letter-spacing: 1.04px;
        line-height: 29.0px;
        padding-top: 17px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 17px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .row-investasi {
        margin-top: 26px;
    }
    .col-investasi {
        padding: 5% 4%;
    }
    .whyforestisimport {
        top: 35%;
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 45px;
        color: rgba(255, 255, 255, 1.0);
        text-align: left;
        letter-spacing: .08px;
        line-height: 77.0px;
    }
    .title-slide.whyforestisimport.artikel {
        text-align: center;
        width: 50%;
        left: 0;
        top: 10%;
        margin-left: 25%;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 38px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 15px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .sejak-8 {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 18px;
        text-align: center;
    }
    .display-block {
        background-size: cover;
    }
    .cover-nvestasi {
        margin-top: 80px;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 32px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .no-repeat {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .artikel-img:hover img {
        transform: scale(1.1);
    }
}

@media (min-width:1600px) {
    h1.text-white-2.alt-font.font-weight-600.letter-spacing-minus-1.margin-min90px-bottom {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 60px;
        color: #FFF;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .mengapa-kehati {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.05px;
        line-height: 30px;
        text-align: center;
    }
    .descript-ekositem {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    .width-100 {
        width: 96%;
    }
    .ada-padding-bottom {
        padding-bottom: 5% !important;
    }
    .div-publikasi {
        background-color: rgba(255, 255, 255, 0.0);
        overflow: hidden;
        width: 100%;
        margin: 0;
        margin-top: 0px;
        margin-top: 3px;
    }
    .bigtitle {
        background-color: rgba(255, 255, 255, 0.0);
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 30px;
        color: rgba(10, 11, 9, 1.0);
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .garis {
        background-color: rgba(63, 160, 107, 1.0);
        height: 2px;
        width: 88px;
        margin: auto;
        margin-top: -10px;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .ekosistempertanian {
        padding: 0% 16%;
        color: rgba(183, 183, 183, 1.0);
        text-align: justify;
        letter-spacing: .03px;
        margin-top: 40px;
    }
    .description {
        background-color: #fff;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 12%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 16.0px;
        color: #000;
        text-align: center;
        letter-spacing: 1.04px;
        line-height: 29.0px;
        padding-top: 17px;
    }
    .descript-insvestasi {
        text-align: center;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 17px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .row-investasi {
        margin-top: 26px;
    }
    .col-investasi {
        padding: 5% 4%;
    }
    .whyforestisimport {
        top: 35%;
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 45px;
        color: rgba(255, 255, 255, 1.0);
        text-align: left;
        letter-spacing: .08px;
        line-height: 77.0px;
    }
    .title-slide.whyforestisimport.artikel {
        text-align: center;
        width: 50%;
        left: 0;
        top: 10%;
        margin-left: 25%;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 38px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .descript-insvestasi {
        text-align: justify;
    }
    .descript-insvestasi.v1 {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0% 4%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-regular';
        font-size: 16px;
        color: #fff;
        text-align: center;
        letter-spacing: .04px;
        line-height: 29.0px;
        padding-top: 15px;
    }
    .sejak-8 {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 18px;
        text-align: center;
    }
    .display-block {
        background-size: cover;
    }
    .cover-nvestasi {
        margin-top: 80px;
    }
    .title-investasi {
        width: 100%;
        left: 0;
        top: 40%;
        text-align: center;
    }
    .title-investasi.v1 {
        height: auto;
        width: 100%;
        margin: 18px 0px;
        padding: 0% 10%;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-family: 'open-sans-bold';
        font-size: 30px;
        color: #fff;
        text-align: center;
        letter-spacing: .09px;
        line-height: 45px;
    }
    .no-repeat {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .artikel-img:hover img {
        transform: scale(1.1);
    }
}

.width-100 {
    width: 100%;
}