.desktop-view{
    display: block !important;
}

.mobile-view {
    display: none;
}

@media (min-width:1024px) {
    .cover-location {
        width: 40px;
    }

    .row-pagination {
        padding: 0% 0%;
        width: 80%;
    }

    .col.labelfooter.col-pagination {
        padding: 5% 5%;
    }

    .labelfooter.label-pagination {
        padding: 14px 20px 5px 5px;
    }

    .col-sm-12.col-md-12.col-lg-6.col-xl-6.col-page.left {
        padding-left: 0px;
    }
}

@media (min-width:1200px) {
    .cover-location {
        width: 40px;
    }

    .row-pagination {
        padding: 0% 0%;
        width: 80%;
    }

    .col.labelfooter.col-pagination {
        padding: 5% 5%;
    }

    .labelfooter.label-pagination {
        padding: 14px 20px 5px 5px;
    }

    .col-sm-12.col-md-12.col-lg-6.col-xl-6.col-page.left {
        padding-left: 0px;
    }
}

@media (min-width:1280px) {
    .cover-location {
        width: 40px;
    }

    .row-pagination {
        padding: 0% 0%;
        width: 80%;
    }

    .col.labelfooter.col-pagination {
        padding: 5% 5%;
    }

    .labelfooter.label-pagination {
        padding: 14px 20px 5px 5px;
    }

    .col-sm-12.col-md-12.col-lg-6.col-xl-6.col-page.left {
        padding-left: 0px;
    }
}

@media (min-width:1360px) {
    .cover-location {
        width: 45px;
    }

    .row-pagination {
        padding: 0% 0%;
        width: 80%;
    }

    .col.labelfooter.col-pagination {
        padding: 5% 5%;
    }

    .labelfooter.label-pagination {
        padding: 14px 20px 5px 5px;
    }

    .col-sm-12.col-md-12.col-lg-6.col-xl-6.col-page.left {
        padding-left: 0px;
    }
}

@media (min-width:1440px) {
    .cover-location {
        width: 45px;
    }

    .row-pagination {
        padding: 0% 0%;
        width: 80%;
    }

    .col.labelfooter.col-pagination {
        padding: 5% 5%;
    }

    .labelfooter.label-pagination {
        padding: 14px 20px 5px 5px;
    }

    .col-sm-12.col-md-12.col-lg-6.col-xl-6.col-page.left {
        padding-left: 0px;
    }
}

@media (min-width:1600px) { 
    .cover-location {
        width: 50px;
    }

    .row-pagination {
        padding: 0% 0%;
        width: 80%;
    }

    .col.labelfooter.col-pagination {
        padding: 5% 5%;
    }

    .labelfooter.label-pagination {
        padding: 14px 20px 5px 5px;
    }

    .col-sm-12.col-md-12.col-lg-6.col-xl-6.col-page.left {
        padding-left: 0px;
    }
}

section.wow.fadeIn.parallax.mobile-view {
    display: none;
}

span.btn.btn-dark-gray-unduh.selengkapnya.read-more {
    display: none;
}