@media (min-width: 1024px) {
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 6%;
    }
    .row.row-artikel1.v1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        padding-bottom: 1px;
    }
    .title-slide.whyforestisimport.artikel {
        position: absolute;
        top: 32%;
        color: #FFFFFF;
        font-family: PFDinTextCompPro-Regular;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }
    .padding-20px-all {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .bg-white.text-center.h-100 img {
        width: 100%;
    }
    .description.timenews {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 17px;
        margin-top: 13px;
        text-align: left;
    }
    .description.title-news.v1 {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 160px;
        text-align: left;
        padding: 5px 0;
        padding-bottom: 23px;
    }
    .carousel-item.artikel {
        height: 285px;
    }
}

@media (min-width:1200px) {
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 6%;
    }
    .row.row-artikel1.v1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        padding-bottom: 1px;
    }
    .title-slide.whyforestisimport.artikel {
        position: absolute;
        top: 33%;
        color: #FFFFFF;
        font-family: PFDinTextCompPro-Regular;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }
    .padding-20px-all {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .bg-white.text-center.h-100 img {
        width: 100%;
    }
    .description.timenews {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 17px;
        margin-top: 13px;
        text-align: left;
    }
    .description.title-news.v1 {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 170px;
        text-align: left;
        padding: 5px 0;
        padding-bottom: 23px;
    }
    .carousel-item.artikel {
        height: 337px;
    }
}

@media (min-width:1280px) {
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 6%;
    }
    .row.row-artikel1.v1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        padding-bottom: 1px;
    }
    .title-slide.whyforestisimport.artikel {
        position: absolute;
        top: 35%;
        color: #FFFFFF;
        font-family: PFDinTextCompPro-Regular;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }
    .padding-20px-all {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .bg-white.text-center.h-100 img {
        width: 100%;
    }
    .description.timenews {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 17px;
        margin-top: 13px;
        text-align: left;
    }
    .description.title-news.v1 {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 180px;
        text-align: left;
        padding: 5px 0;
        padding-bottom: 23px;
    }
    .carousel-item.artikel {
        height: 322px;
    }
}

@media (min-width:1360px) {
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 6%;
    }
    .row.row-artikel1.v1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        padding-bottom: 1px;
    }
    .title-slide.whyforestisimport.artikel {
        position: absolute;
        top: 33%;
        color: #FFFFFF;
        font-family: PFDinTextCompPro-Regular;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }
    .padding-20px-all {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .bg-white.text-center.h-100 img {
        width: 100%;
    }
    .description.timenews {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 17px;
        margin-top: 13px;
        text-align: left;
    }
    .description.title-news.v1 {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 214px;
        text-align: left;
        padding: 5px 0;
        padding-bottom: 23px;
    }
    .carousel-item.artikel {
        height: 310px;
    }
}

@media (min-width:1440px) {
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 6%;
    }
    .row.row-artikel1.v1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        padding-bottom: 1px;
    }
    .title-slide.whyforestisimport.artikel {
        position: absolute;
        top: 35%;
        color: #FFFFFF;
        font-family: PFDinTextCompPro-Regular;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }
    .padding-20px-all {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .bg-white.text-center.h-100 img {
        width: 100%;
    }
    .description.timenews {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 17px;
        margin-top: 13px;
        text-align: left;
    }
    .description.title-news.v1 {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 214px;
        text-align: left;
        padding: 5px 0;
        padding-bottom: 23px;
    }
    .carousel-item.artikel {
        height: 340px;
    }
}

@media (min-width:1600px) {
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        background: #fff;
    }
    .row.row-artikel1 {
        padding: 33px 6%;
    }
    .row.row-artikel1.v1 {
        padding: 33px 16%;
    }
    section.wow.fadeIn.bg-light-gray {
        padding-bottom: 1px;
    }
    .title-slide.whyforestisimport.artikel {
        position: absolute;
        top: 45%;
        color: #FFFFFF;
        font-family: PFDinTextCompPro-Regular;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }
    .padding-20px-all {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .bg-white.text-center.h-100 img {
        width: 100%;
    }
    .description.timenews {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.03px;
        line-height: 17px;
        margin-top: 13px;
        text-align: left;
    }
    .description.title-news.v1 {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 214px;
        text-align: left;
        padding: 5px 0;
        padding-bottom: 23px;
    }
    .carousel-item.artikel {
        height: 390px;
    }
}

div#carouselsemua {
    margin-top: -40px;
}