.descript-ekositem {
    color: #B7B7B7;
    font-family: open-sans-regular;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04px;
    line-height: 23px;
    width: 867px;
    text-align: justify;
}

.btn.btn-medium {
    width: 100%;
    color: #3FA06B;
    padding: 10px 25px 10px;
}

.btn.btn-transparent-black:hover,
.btn.btn-transparent-black:focus {
    width: 100%;
    background: #3FA06B;
    border-color: #3FA06B;
    color: #ffffff;
    font-family: PFDinTextCompPro-Regular !important;
    font-size: 15px;
}

.btn.btn-transparent-black {
    border-color: #3FA06B;
    color: #3FA06B;
    font-family: PFDinTextCompPro-Regular !important;
    font-size: 15px;
}

@media (min-width:1024px) {
    section {
        padding: 5.3% 0;
        overflow: hidden;
    }
    .desc-title {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 33px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        text-align: center;
    }
    .desc {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 70%;
        text-align: justify;
        margin-left: 15%;
    }
    p {
        margin: 0 0% 0px !important;
    }
    .height-slider {
        height: 254px !important;
    }
    .program-kehati {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 33px;
        text-transform: uppercase;
    }
    .margin-min90px-bottom {
        margin-bottom: -80px;
    }
}

@media (min-width:1200px) {
    section {
        padding: 5.3% 0;
        overflow: hidden;
    }
    .desc-title {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        text-align: center;
    }
    .desc {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 70%;
        text-align: justify;
        margin-left: 15%;
    }
    p {
        margin: 0 0% 0px !important;
    }
    .height-slider {
        height: 254px !important;
    }
    .program-kehati {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 35px;
        text-transform: uppercase;
    }
    .margin-min90px-bottom {
        margin-bottom: -80px;
    }
}

@media (min-width:1280px) {
    section {
        padding: 5.3% 0;
        overflow: hidden;
    }
    .desc-title {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        text-align: center;
    }
    .desc {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 70%;
        text-align: justify;
        margin-left: 15%;
    }
    p {
        margin: 0 0% 0px !important;
    }
    .height-slider {
        height: 254px !important;
    }
    .program-kehati {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 36px;
        text-transform: uppercase;
    }
    .margin-min90px-bottom {
        margin-bottom: -80px;
    }
}

@media (min-width:1360px) {
    section {
        padding: 5.3% 0;
        overflow: hidden;
    }
    .desc-title {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 37px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        text-align: center;
    }
    .desc {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 70%;
        text-align: justify;
        margin-left: 15%;
    }
    p {
        margin: 0 0% 0px !important;
    }
    .height-slider {
        height: 254px !important;
    }
    .program-kehati {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 37px;
        text-transform: uppercase;
    }
    .margin-min90px-bottom {
        margin-bottom: -80px;
    }
}

@media (min-width:1440px) {
    section {
        padding: 5.3% 0;
        overflow: hidden;
    }
    .desc-title {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-size: 38px;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        text-align: center;
    }
    .desc {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 70%;
        text-align: justify;
        margin-left: 15%;
    }
    p {
        margin: 0 0% 0px !important;
    }
    .height-slider {
        height: 254px !important;
    }
    .program-kehati {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 38px;
        text-transform: uppercase;
    }
    .margin-min90px-bottom {
        margin-bottom: -80px;
    }
}

@media (min-width:1600px) {
    section {
        padding: 5.3% 0;
        overflow: hidden;
    }
    .desc-title {
        color: #0A0B09;
        font-family: PFDinTextCompPro;
        font-weight: 500;
        letter-spacing: 0.08px;
        line-height: 46px;
        text-align: center;
    }
    .desc {
        color: #B7B7B7;
        font-family: PFDinTextCompPro;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0.04px;
        line-height: 22px;
        width: 70%;
        text-align: justify;
        margin-left: 15%;
    }
    p {
        margin: 0 0% 0px !important;
    }
    .height-slider {
        height: 254px !important;
    }
    .program-kehati {
        color: #FFFFFF;
        font-family: PFDinTextCompPro;
        font-size: 40px;
        text-transform: uppercase;
    }
    .margin-min90px-bottom {
        margin-bottom: -80px;
    }
}

p.desc {
    width: 100%;
    padding: 0 10%;
}

.wow.fadeIn.parallax {
    height: 666px;
}

.desc-title-pb-30 {
    padding-bottom: 30px;
}